Philippines/AllSubjects/E1_Landsat/data/
Philippines/AllSubjects/E1_Landsat/epochs/
Philippines/AllSubjects/E1_Landsat/models/

Philippines/AllSubjects/E2_Static/data/
Philippines/AllSubjects/E2_Static/epochs/
Philippines/AllSubjects/E2_Static/models/

Philippines/AllSubjects/E3_StreetView/data/
Philippines/AllSubjects/E3_StreetView/epochs/
Philippines/AllSubjects/E3_StreetView/models/

Philippines/Subject1_English/E1_Eng_Landsat/data/
Philippines/Subject1_English/E1_Eng_Landsat/epochs/
Philippines/Subject1_English/E1_Eng_Landsat/models/

Philippines/Subject1_English/E2_Eng_Static/data/
Philippines/Subject1_English/E2_Eng_Static/epochs/
Philippines/Subject1_English/E2_Eng_Static/models/

Philippines/Subject1_English/E3_Eng_StreetView/data/
Philippines/Subject1_English/E3_Eng_StreetView/epochs/
Philippines/Subject1_English/E3_Eng_StreetView/models/

Philippines/Subject2_Filipino/E1_Fil_Landsat/data/
Philippines/Subject2_Filipino/E1_Fil_Landsat/models/
Philippines/Subject2_Filipino/E1_Fil_Landsat/epochs/

Philippines/Subject2_Filipino/E2_Fil_Static/data/
Philippines/Subject2_Filipino/E2_Fil_Static/models/
Philippines/Subject2_Filipino/E2_Fil_Static/epochs/

Philippines/Subject2_Filipino/E3_Fil_StreetView/data/
Philippines/Subject2_Filipino/E3_Fil_StreetView/models/
Philippines/Subject2_Filipino/E3_Fil_StreetView/epochs/

Philippines/Subject3_Math/E1_Math_Landsat/data/
Philippines/Subject3_Math/E1_Math_Landsat/epochs/
Philippines/Subject3_Math/E1_Math_Landsat/models/

Philippines/Subject3_Math/E2_Math_Static/data/
Philippines/Subject3_Math/E2_Math_Static/epochs/
Philippines/Subject3_Math/E2_Math_Static/models/

Philippines/Subject3_Math/E3_Math_StreetView/data/
Philippines/Subject3_Math/E3_Math_StreetView/epochs/
Philippines/Subject3_Math/E3_Math_StreetView/models/

Philippines/Subject4_Science/E1_Sci_Landsat/data/
Philippines/Subject4_Science/E1_Sci_Landsat/epochs/
Philippines/Subject4_Science/E1_Sci_Landsat/models/

Philippines/Subject4_Science/E2_Sci_Static/data/
Philippines/Subject4_Science/E2_Sci_Static/epochs/
Philippines/Subject4_Science/E2_Sci_Static/models/

Philippines/Subject4_Science/E3_Sci_StreetView/data/
Philippines/Subject4_Science/E3_Sci_StreetView/epochs/
Philippines/Subject4_Science/E3_Sci_StreetView/models/

Philippines/Subject5_AP/E1_AP_Landsat/data/
Philippines/Subject5_AP/E1_AP_Landsat/epochs/
Philippines/Subject5_AP/E1_AP_Landsat/models/

Philippines/Subject5_AP/E2_AP_Static/data/
Philippines/Subject5_AP/E2_AP_Static/epochs/
Philippines/Subject5_AP/E2_AP_Static/models/

Philippines/Subject5_AP/E3_AP_StreetView/data/
Philippines/Subject5_AP/E3_AP_StreetView/epochs/
Philippines/Subject5_AP/E3_AP_StreetView/models/

Brazil/data/jsons/

Brazil/E1_Landsat/data/
Brazil/E1_Landsat/epochs/
Brazil/E1_Landsat/models/

Brazil/E2_Static/data/
Brazil/E2_Static/epochs/
Brazil/E2_Static/models/

Brazil/E3_StreetView/data/
Brazil/E3_StreetView/epochs/
Brazil/E3_StreetView/models/

India/
